.services{
  background-color: var(--light-bg);
}

.services__title {
  width: 200px;
  margin: 0 auto;
}

.services__headline{
  font-size: 42px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.services__content{
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    padding: 10px;
    margin: 0 auto;
    padding-top: 40px;
}

.service__card{
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 20px;
    padding: 20px;
    margin-top: 75px;
    padding-top: 30px;
    position: relative;
    border-radius: 0 20px 20px 20px ;

}

.service__card>div{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    top:-60px;
    border-radius: 50%;
    border: 5px solid var(--white);
}

.service__card div i{
    position: absolute;
    top: 30px;
    left: 28px;
    font-size: 30px;
    color: var(--white);
    text-align: center; 
}

.service__card h3{
    color: var(--primary-color);
    padding-top: 30px;
    line-height: 1.1;
    font-weight: 800;
}

.service__card p{
    padding-top: var(--spacing-md);
    color: var(--text-color);
}

@media screen and (max-width: 1024px){
  .services{
    padding: 3rem 2rem;
  }

  .services__content{
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .services__title{
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .services__title::before,
  .services__title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 60px;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .services__title::before {
    left: calc(50% - 125px);
    transform: translateY(-50%);
  }

  .services__title::after {
    right: calc(50% - 125px);
    transform: translateY(-50%);
  }

  .services__headline{
    width:80%;
    font-size: 32px;
    line-height: 1.5;
  }

  .services{
    padding: 4rem 1rem;
  }

  .services__content{
    width: 100%;
  }
}